body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F3F3F3;
  }

  #wrapper {
    flex: 1;
  }

  .box {
    width: 40%;
    margin-left: 25rem;
    margin-top: 1%;
    box-shadow: 100px, 100px;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
    border: solid;
  }

  .input {
    border-radius: 5%;
    border: solid;
  }

  .image {
    margin-left: 11rem;
  }
 
  .title{
    margin-left: 12rem;
    padding-top: 1rem;
    align-items: center;
  }

  input::placeholder {
    color: antiquewhite;
  }
  
  .navbar {
    background: var(--card-bg);
  }
  
  .navbar-item {
    color: ghostwhite;
  }
  
  /* Card start*/
  .card {
    overflow: hidden;
    background: ghostwhite;
    color: var(--bg);
  }
  
  .card.large {
    border-radius: 5px;
  }
  
  .title.no-padding {
    margin-bottom: 0 !important;
  }
  
  .footer {
    background: var(--card-bg);
    color: ghostwhite;
  }
  
  .footer p,
  strong {
    color: ghostwhite
  }
  
  .footer a:hover {
    color: crimson;
  }
  
  .fa {
    color: ghostwhite;
    margin: 10px
  }